<!DOCTYPE html>
<html>
<head>
    <title>Top Colleges</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🏆 Top Colleges in India</h1>

<h2>🎓 Top IITs</h2>
<ul>
    <li>IIT Bombay</li>
    <li>IIT Delhi</li>
    <li>IIT Madras</li>
    <li>IIT Kanpur</li>
    <li>IIT Kharagpur</li>
</ul>

<h2>📚 Top IIMs</h2>
<ul>
    <li>IIM Ahmedabad</li>
    <li>IIM Bangalore</li>
    <li>IIM Calcutta</li>
    <li>IIM Lucknow</li>
    <li>IIM Kozhikode</li>
    <h2>📊 Top Colleges Ranking</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Rank</th>
        <th>College</th>
        <th>Type</th>
    </tr>

    <tr>
        <td>1</td>
        <td>IIT Bombay</td>
        <td>Engineering</td>
    </tr>

    <tr>
        <td>2</td>
        <td>IIT Delhi</td>
        <td>Engineering</td>
    </tr>

    <tr>
        <td>3</td>
        <td>IIM Ahmedabad</td>
        <td>MBA</td>
    </tr>

    <tr>
        <td>4</td>
        <td>IIM Bangalore</td>
        <td>MBA</td>
    </tr>
</table>
</ul>

<a href="/">⬅ Back to Home</a>

</div>

</body>
</html